<div>
    <h2> Add Event</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
    <input matInput placeholder = "Enter Title" formControlName = "title" required style="color: black">
    </mat-form-field>
    <mat-form-field>
    <input matInput type="datetime-local" placeholder="Enter Date" formControlName="date" required style="color: black">
    </mat-form-field>

    <div>
        <mat-dialog-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid"> Submit </button>
            <button mat-raised-button class="cancelbutton" mat-dialog-close> Cancel </button>
        </mat-dialog-actions>
   </div>
    </form>
    </div>