.pie-chart{
    height: 600px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top:  100px;
    
}
.textchart{
    text-align: center;
}
.addButton{
   background-color: rgb(132, 9, 163);
   color: white;
   position: sticky;
   display:block;

   left: 846px;
}