@use "../../../../node_modules/igniteui-theming" as *;


$my_dark_palette: palette(
  $primary: #dab785,
  $secondary: #d5896f,
  $surface: #7d029c,
  $gray: #770471,
);





.expenditureGrid {
  @include palette($my_dark_palette);
    width: 650px;
    height: 800px;
    border-radius:25px;
    box-shadow: 0px 1px 22px 5px #280346;
   margin-right:100px;
}
.pie-chart{
  margin-left:100px;
    height: 350px;
    width: 500px;
    padding-top:  100px;
    
}
.textchart{
    margin-right: auto;
    margin-left: auto;
}
.addButton{
  background-color:rgb(234, 229, 234);
  color:purple;
   display:block;
  margin-right: auto;
  margin-left:300px;
  z-index:5;
  top:550px;
  border-radius:25px;
  height:50px;
}
.editButton {
  background-color: red;
}
.chart1{

}
.screen{
  display:flex;
  justify-content:center;
  padding-top:20px;
  padding-bottom:50px;

}
.chart2{

  margin-top:450px;
}
