<mat-drawer-container class="usercontainer" autoSize>
<mat-toolbar>
  <div class="unifiedtext"></div>Unified Portal
  <ng-container *ngIf="user$ | async as user; else loginButton">
    <button mat-button (click)="userMenu.toggle()">
      <img
        width="30"
        height="30"
        class="profile-image-toolbar"
        [src]="user.photoURL ?? 'assets/images/image.png'"
      />
      {{ user.displayName }}
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-drawer #userMenu mode="side" class="sideMenu" position="end">
 
  <button mat-raised-button routerLink="/home" class="navButton">
    <mat-icon>home </mat-icon>
    Home
  </button>
  <button mat-raised-button routerLink="/profile" class="navButton">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-raised-button routerLink="/budget" class="navButton">
    <mat-icon>monetization_on</mat-icon>
    Budget
  </button>
  <button mat-raised-button (click)="logout()" class="navButton">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-drawer>
</mat-drawer-container>
