mat-toolbar {
  justify-content: space-between;
  background-color: rgb(116, 0, 151);
  color: white;
}

.content {
  padding: 32px;

}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}
.unifiedtext{
  text-align: center;
}
.sideMenu{
  width: 200px;
  background-color: #7f1ba6ff;
  //padding:20px;
  display: flex;
}

.usercontainer{
  height: 100%;
  //width: 200px;
}
.navButton{

  width: 100%;
  background-color: rgb(60,63,77);
  padding: 10px;
}