mat-toolbar {
  justify-content: space-between;
  background-color: rgb(116, 0, 151);
  color: white;
}

.content {
  padding: 32px;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}
.unifiedtext{
  text-align: center;
}