
<mat-toolbar >
  <div class="unifiedtext"></div>
  <ng-container *ngIf="user$ | async as user; else loginButton">
    <button mat-button routerLink="/home" class="navButton">
    
    <mat-icon>home </mat-icon>
    Home
  </button>
  
  <button mat-button routerLink="/budget" class="navButton">
    <mat-icon>monetization_on</mat-icon>
    Budget
  </button>
  <button mat-button routerLink="/planner" class="navButton">
    <mat-icon>calendar_today</mat-icon>
    Planner
  </button>
   <div class="textwords">
    Unified <img src="../assets/images/fh.png"class="logo"> Portal

    </div>
    
    <button mat-button [matMenuTriggerFor]="userMenu" class="profile">
      <img
        width="30"
        height="30"
        class="profile-image-toolbar"
        [src]="user.photoURL ?? 'assets/images/image.png'"
      />
      {{ user.displayName }}
      
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button routerLink="/" class="navButton">
      <mat-icon>home</mat-icon>
      Home
    </button>
      
    <button mat-button routerLink="login" class="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
<button mat-menu-item (click)="logout()">
  <mat-icon>logout</mat-icon>
  Logout
</button>
</mat-menu>
  
 
 


