<div class="dialog">
    <h2> Update Event</h2>
    <form [formGroup]="updateform" (ngSubmit)="onSubmitUpdate()">
    <mat-form-field>
    <input matInput placeholder = "Title" formControlName = "title" required class="dialoginput">
    </mat-form-field>
    <mat-form-field>
    <input matInput type="datetime-local" placeholder="Date" formControlName="date" required class="dialoginput">
    </mat-form-field>
    <div>
    <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="updateform.invalid"> Update </button>
    <button mat-raised-button class="cancelbutton" mat-dialog-close> Cancel </button>
    </mat-dialog-actions>
   </div>
    </form>
    <button mat-raised-button class="deletebutton"(click)="deleteEvent()"> Delete </button>
    </div>
   
    